// Font styles
$spaceMono: 'Titillium Web', sans-serif;

// Color schemes
$navbarBg: #000;
$carouselCaption: rgba(0, 0, 0, 0.4);
$lightText: #fefefe;
$jumbotronBG: #232a3e; 


// Font Size & Style
$navLinkSize: 1.47em !important;
$midTextSize: 14pt;
$disclaimer: italic;

// Borders
$listItem: 1px solid #7d7d7d;